# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = techreview.settings

# Project: techreview
[deploy]
url = https://dash.scrapinghub.com/api/scrapyd/
username = a4b48fdecee64b4e9bbc9d67121161dd
password =
project = 28238
